.container_header {
  width: 80%;
  height: auto;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

picture {
  display: block;
  width: 5rem;
  height: 5rem;
  padding: 0;
  margin: 0;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

.menu {
  width: auto;
  height: auto;
  display: flex;
  gap: 1rem;
  list-style-type: none;

  & a {
    color: #f0f8ff;
  }
}

.container_card {
  width: 80%;
  height: auto;
  margin: 0 auto;
}
